
MacWhisperLite/Resources/ggml-base.en.bin

.DS_Store

MacWhisperLite.xcodeproj/project.xcworkspace/xcuserdata/iankuo.xcuserdatad/

MacWhisperLite.xcodeproj/xcuserdata/iankuo.xcuserdatad/xcdebugger/
MacWhisperLite.xcodeproj/

MacWhisperLite/Resources/Models/

MacWhisperLiteTests/ggml-base.bin
AudioEncoder.mlmodelc/weights/weight.bin
DerivedData/
openai_whisper-large-v3-v20240930_turbo/
MelSpectrogram.mlmodelc/
TextDecoder.mlmodelc/
TextDecoderContextPrefill.mlmodelc/
AudioEncoder.mlmodelc/
generation_config.json
config.json
MacWhisperLite/Assets.xcassets/AppIcon.appiconset/
openai_whisper-large-v3-v20240930_626MB/


MacWhisperLiteTests/AudioDecoder.h

MacWhisperLiteTests/AudioDecoder.m

MacWhisperLiteTests/jfk.mp3

MacWhisperLiteTests/MacWhisperLiteTests-Bridging-Header.h

MacWhisperLiteTests/