
MacWhisperLite/Resources/ggml-base.en.bin

.DS_Store

MacWhisperLite.xcodeproj/project.xcworkspace/xcuserdata/iankuo.xcuserdatad/

MacWhisperLite.xcodeproj/xcuserdata/iankuo.xcuserdatad/xcdebugger/
MacWhisperLite.xcodeproj/
